# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Pytest cache
.pytest_cache/

# obsidian
.obsidian/

# Archivos de entorno
.env
*.env

# Archivos de logs y debug
*.log

# Archivos de sistema
.DS_Store
Thumbs.db


dist/
build/
*.spec

